[Unit]
Description=YCollector service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /root/ycoll/lvmusagecoll.py
[Install]
WantedBy=multi-user.target
